<!DOCTYPE html>
<html lang="en">
{% import 'bootstrap5/form.html' as wtf %}

<head>
  <meta charset="UTF-8">
  <title>Our page</title>

  {% block styles %}
  <!-- Bootstrap CSS -->
  {{ bootstrap.load_css() }}
  {% endblock %}

</head>

<body>

  {% block navbar %}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Flask course</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Users hardcoded pages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{{ url_for('profile', username='Andrzej', amount=2) }}">Andrzej 2</a>
              </li>
              <li><a class="dropdown-item" href="{{ url_for('profile', username='admin', amount=2) }}">admin 2</a></li>
              <li><a class="dropdown-item" href="{{ url_for('profile', username='krzys', amount=10) }}">krzys 10</a>
              </li>
              <li><a class="dropdown-item" href="{{ url_for('profile', username='Pollena', amount=2000) }}">Pollena
                  2000</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock navbar %}
  {% block body %}
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-19 mx-auto">
          {% block custom_content %}
          {% endblock %}
        </div>
      </div>
    </section>
  </main>
  {% endblock %}

  <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
              aria-expanded="false">User</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown10">
              <li><a class="dropdown-item" href="{{ url_for('login') }}">Log in</a></li>
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block scripts %}
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
  {% endblock %}
  
</body>

</html>