{% extends "base.html" %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/nav.html' import render_breadcrumb_item %}

{% block custom_content %}
<nav>
  <ol class="breadcrumb">
    {{ render_breadcrumb_item('main.users', 'Users') }}
  </ol>
</nav>
{{ render_pagination(users_paginator) }}
<ul class="list-group">
  {% for user in users_paginator.items %}
  <li class="list-group-item">
    <a href="{{ url_for('main.user_details', user_id=user.id) }}">{{ user.id }}</a> {{ user.username }}
  </li>
  {% endfor %}
</ul>
{% endblock %}